<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{Layout/MainLayout}" lang="es">
<div layout:fragment="content">
  <h2>Agregar Producto</h2>
  <form th:action="@{/Producto/Crear}" th:object="${productos}" method="post" class="row g-3">

    <div class="col-md-6">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" th:field="*{nombre}" class="form-control" id="nombre" required>
    </div>

    <div class="col-md-6">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" step="0.01" th:field="*{precio}" class="form-control" id="precio" required>
    </div>
    <div class="col-md-6">
      <label for="imagen" class="form-label">Imagen</label>
      <input type="text"  th:field="*{imagen}" class="form-control" id="imagen" required>
    </div>

    <div class="col-md-6">
      <label for="supermercado" class="form-label">Supermercado</label>
      <!--/*@thymesVar id="supermercado" type=""*/-->
      <select th:field="*{supermercado.id}" class="form-select" id="supermercado">
        <option th:each="s : ${supermercados}" th:value="${s.id}" th:text="${s.nombre}">Supermercado</option>
      </select>

    </div>
    <div class="col-md-6">
      <label for="supermercado" class="form-label">Categorias</label>
      <!--/*@thymesVar id="supermercado" type=""*/-->
      <label for="categorias"></label><select multiple th:field="*{categorias}" class="form-select" id="categorias">
        <option th:each="c : ${categorias}" th:value="${c.id}" th:text="${c.nombre}">Categorias</option>
      </select>

    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a class="btn btn-info btn-sm" href="Admin/Producto">Volver</a>
    </div>
  </form>

</div>
</html>