<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout/MainLayout}"
lang="es">

<div layout:fragment="content">
  <div class="row">
    <div class="col-md-4" th:each="producto : ${producto}">
      <div class="card mb-3">
        <div class="card-header text-center">
          <h4 th:text="${producto.nombre}"></h4>
          <img th:src="@{${producto.imagen}}" alt="Imagen del producto" class="img-fluid" />
        </div>
        <div class="card-body text-center">
          <form th:action="@{'/Producto/Eliminar/' + ${producto.id}}" method="post">
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

</html>